body {
  font-family: 'Rubik', sans-serif;
}
:root {
  --grey: #9d9f9e;
  --dark-grey: #343a40;
  --red: #8a3e4a;
  --green: #a2e64f;
  --tan: #fae3b4;
  --brown: #8b6342;
}
body {
  background-color: var(--tan);
  color: var(--red);
}

img{
  border: 2px solid var(--green);
  border-radius: 5px;
}
.mainPage{
  border: 2px solid var(--dark-grey);
  border-radius: 5px;
}

.background-grey {
  background-color: var(--grey);
}

.background-red {
  background-color: var(--red);
}

.background-green {
  background-color: var(--green);
}

.background-tan {
  background-color: var(--tan);
}

.background-brown {
  background-color: var(--brown);
}
.text-green{
  color: var(--green);
}
.text-red{
  color: var(--red);
}
.text-tan{
  color: var(--tan);
}
.bg-image{
  background-image: url('./assets/Images/IMG-1343.jpg');
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}
.modalTitle{
  padding-left: 150px;
}
.modalForm{
  text-align: center;
}
.modalLabel{

  font-size: 32px;
}

.btn-secondary:hover{
  background-color: var(--green);
  color: var(--dark-grey);
}
.dayBtn{
  width: 100%;
}

.dayMenu{
  width: 100%;
  text-align: center !important;
}

.optionBtn{
  width: 100%;
}
.optionMenu{
  width: 100% !important;
  text-align: center !important;
  min-width: none !important;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 0;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
}

a {
  text-align: none;
  color: black;
  cursor: pointer;
}

a:hover {
  color: #C2E5D3; 
}

.activity {
  width : 30%;
}

.weight-link:hover {
  color: var(--green);
}

@media (max-width: 400px) {
  .activity{
    width: 100%;
  }
}